@model StockDesk.WebApp.ViewModels.StockManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Stock Management - offline</h3>
<p>Unfortunately the stock management module is offline at the moment. Try again soon.</p>

