<div>
    <h3 id="PageTitle">About StockDesk</h3>
    <p>Version: @System.Reflection.Assembly.GetEntryAssembly().GetName().Version</p>

    <p>This is a sample application based on a Trading Management System.</p>
    <p>The goal of this sample is to demonstrate several Web-Scale Architecture concepts like: Microservices, CQRS (Command Query Responsibility Segregation), Event Sourcing, DDD (domain-driven design).</p>
    <p>
        Features include:
        <ul>
            <li>Client Management</li>
            <li>Stock management</li>
            <li>Portfolio management</li>
            <li>Invoicing</li>
            <li>Notifications for clients</li>
        </ul>
    </p>
</div>