@model StockDesk.WebApp.ViewModels.ClientManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Client Management - offline</h3>
<p>Unfortunately the client management module is offline at the moment. Try again soon.</p>

