@model StockDesk.WebApp.ViewModels.PortfolioManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Portfolio Management - offline</h3>
<p>Unfortunately the portfolio management module is offline at the moment. Try again soon.</p>

